:root { /* Переменные для цветов */
	--red: #82000b;
	--white: #fff;
	--black: #171717;
	--style: #b6101e;
	--light-red: #ffcdd1;
	--light-grey: #efefef;
	--colors-white: #fff;
	--colors-dark-black: #090909;
	--colors-default: #808191;
	--colors-hover-state: #e9e9e9;
        /* Переменные для шрифтов */    
    --font-family: "Poppins", sans-serif;
    --second-family: "Cinzel", sans-serif;
    --third-family: "Noah", sans-serif;
}

body { /* Основной экран */
    margin: 0;
    
}

html {
    scroll-behavior: smooth;
  }

.wrapper  /* Обертка всего сайта */{
    width: 100%;
}

.container /* Контейнер для контента */ {
    width: 100%;
    max-width: 1480px;
    margin: 0 auto;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1, h2 {
    margin: 0;
    font-style: normal;
}

p {
    margin: 0;
}

.main {
    background: var(--light-grey);
}

.background {
    background:
        url('/assets/BG1.svg') no-repeat 0 950px,
        url('/assets/BG2.svg') no-repeat 1337.33px 442.67px
}

.backgroundTwo {
    background: url('/assets/BG3.svg') no-repeat -46.33px;
}

@media screen and (max-width: 1440px) {
    .container {
        max-width: 1090px;
    }
}

@media screen and (max-width: 744px) {
    .container {
        max-width: 668px;
    }
}

@media screen and (max-width: 375px) {
    .container {
        max-width: 342px;
    }
}

