.photo__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 154.66px;
    justify-content: space-between;
    position: relative;
}

.foto {
    width: 485px;
    height: 973px;  
}

.foto__small {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 32px;
}

.photo-items {
    width: 464px;
    height: 308px;
    margin-top: 42px;
}

.photo-items img {
    width: 100%;
    height: 100%;
    border-radius: 32px;
}

.photo__list img {
    margin-top: 42.67px;
}

.foto .verySmall {
    display: none;
}


.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0,.8);
}

.popup .popup__foto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}

.popup__link {
    position: absolute;
    right: 50px;
    top: 50px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 26px;
    color: #7d7d7d;
}

/* .foto .foto__small {
    display: none;
} */

/* Стили на разрешение 1440px */

@media screen and (max-width: 1440px) { 
    .photo__list {
        margin-top: 148px;
    }

    .foto {
        width: 364px;
        height: 730px;  
    }

    .photo-items {
        width: 348px;
        height: 231px;
    }
}

/* Стили на разрешение 1081px */

@media screen and (max-width: 1081px) {
    .textPhoto {
        justify-content: center;
    }

    .foto {
        margin-top: 32px;
        width: 718px;
        height: 428px;  
    }
}

/* Стили на разрешение 1043px */

@media screen and (max-width: 1043px) {
    .photo__list {
        justify-content: space-around;
    }
}


/* Стили на разрешение 744px */

@media screen and (max-width: 744px) {

    .textPhoto {
        justify-content: center;
    }

    .foto {
        max-width: 642px;
    }

   

    .photo__list {
        margin-top: 96px;
    }

    .photo__items img {
        width: 305px;
        height: 203px;
    }
}

/* Стили на разрешение 375px */

@media screen and (max-width: 375px) {
    .foto .foto__big {
        display: none;
    }



    .photo__list {
        margin-top: 12px;
    }
}